@ci-t-hyperx:registry=https://npm.pkg.github.com/
registry=https://registry.npmjs.org/

always-auth=true

; begin auth token
/registry.npmjs.org/:_authToken={NPM_TOKEN}
//npm.pkg.github.com/:_authToken={NPM_TOKEN}
; end auth token